#venues{
    padding: 1vw;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}


.venue{
    border: 1px solid #000;
    box-shadow: 1 1 0.5em 0.5em #000;
}

#header{
    width: 75%;
    margin: 0 auto;
}

#content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    gap: 5vw;
}

#main{
    flex-basis: 40%;
    padding: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.form-input{
    border: none;
    border-bottom: 1px solid #222;
}

.form-input:focus{
    outline: none;
}

.form-button{
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
}

.form-button:hover{
    background-color: #000;
    color: #fff;
    transition: 350ms ;
}

footer > p{
    padding: 0;
    margin: 0;
}

footer{
    max-height: 10vh;
    padding: 20px;
    background-color: #888;
}

#map{
    height: 70vh;
    width: 70vh;
    border: 1px solid #000;
    border-radius: 50%;
}